{% extends 'base.html' %}

{% block title %}Programme - Nuit de l'Info{% endblock %}

{% block content %}
<div>
    <h1>Programme de la Nuit de l'Info 2024</h1>
    <!-- Horaires et événements -->
    <section id="horaires">
        <h2>Horaires</h2>
        <ul>
            <li>
                <strong>18h30 :</strong> Accueil des participants à l'ESIROI, Saint-Pierre.
                <ul>
                    <li>Distribution dans les salles (A100 et A101).</li>
                    <li>Organisation et formation des équipes.</li>
                </ul>
            </li>
            <li>
                <strong>19h15 :</strong> Un mot des gardiens de la Nuit pour motiver les troupes.
            </li>
            <li>
                <strong>19h39 :</strong> Diffusion des défis nationaux – La nuit de folie commence !
                <ul>
                    <li>Des boissons chaudes et froides seront à disposition tout au long de la nuit.</li>
                </ul>
            </li>
            <li>
                <strong>20h30 :</strong> Cocktail apéritif offert par l'ESIROI pour prendre des forces.
            </li>
            <li>
                <strong>22h30 :</strong> Fin des inscriptions des équipes aux défis.
                <ul>
                    <li>N'oubliez pas le sujet principal</li>
                    <li>Au maximum <strong>5 défis</strong> par équipe, sujet principal compris</li>
                </ul>
            </li>
            <li>
                <strong>08h00 :</strong> Petit-déjeuner pour regagner de l'énergie pour les dernières heures.
            </li>
            <li>
                <strong>11h04 :</strong> Fin officielle de la Nuit de l'Info 2024 (plus aucune remise du travail n'est possible).
                <ul>
                    <li>Félicitations à tous les participants pour leur engagement et leur créativité !</li>
                </ul>
            </li>
            <li>
                <strong>A partir de 15h00 :</strong> Diffusion des resultats (Les jurys auront une semaine pour rendre leurs résultats).
            </li>
        </ul>
    </section>
    <!-- Rappel -->
    <section class="border-dashed">
        <h2>Rappel important</h2>
        <p>
            Les défis seront dévoilés à 20h39, et les participants auront jusqu'au lever du soleil pour
            travailler sur leurs projets. Les salles (A100 et A101) seront équipées pour répondre à vos
            besoins, et les boissons seront en libre-service tout au long de la nuit.
        </p>
        <p>
            Les participants sont encouragés à :
        </p>
        <ul>
            <li>Apporter de quoi dormir (matelas gonflable, sac de couchage, etc.) pour ceux qui souhaitent faire des
                pauses.</li>
            <li>Prendre des articles de toilette essentiels (brosse à dents, serviettes, etc.) pour rester frais toute
                la nuit.</li>
            <li>Amener des collations supplémentaires ou des repas légers si nécessaire.</li>
        </ul>
        <p>
            Prenez des pauses, hydratez-vous et amusez-vous. La Nuit de l'Info, c'est avant tout un
            moment de partage.
        </p>
    </section>
</div>
{% endblock %}